<md-card>
  <md-card-title>All Transactions</md-card-title>
  <div>
    <md-select placeholder="Filter by Year" [(ngModel)]="yearSelected" name="year">
      <md-option *ngFor="let year of years" [value]="year.value">
        {{year.viewValue}}
      </md-option>
    </md-select>
    <md-select placeholder="Filter by Month" [(ngModel)]="monthSelected" name="month">
      <md-option *ngFor="let month of months" [value]="month.value">
        {{month.viewValue}}
      </md-option>
    </md-select>
  </div>
  <md-card-content>
    <app-transaction-table [transactions]="transactions"> </app-transaction-table>
  </md-card-content>
</md-card>