<md-card>
  <md-card-title>Login</md-card-title>
  <md-card-content>
    <!-- TODO: Add ng2 specific directives/validation settings and add styling -->
    <form (ngSubmit)="doLogin(loginForm)" #loginForm="ngForm">
      <div>
        <md-input-container>
          <input mdInput placeholder="Username" pattern=".{3,}" placeholder="User" class="form-control" required type="text" #name="ngModel" ngModel name="login" />
        </md-input-container>
          <div>Please specify your login, at least three characters.</div>
      </div>
      <div>
        <md-input-container>
          <input mdInput placeholder="Password" pattern=".{3,}" placeholder="Password" type="password" name="password" ngModel />
        </md-input-container>
          <div>Please specify your login, at least three characters.</div>
      </div>
      <button md-raised-button color="accent">Login</button>
    </form>
  </md-card-content>
</md-card>
