<md-card>
  <md-card-title>Register</md-card-title>
  <md-card-content>
    <form (ngSubmit)="doRegister(registerForm)" #registerForm="ngForm">
      <div>
        <md-input-container>
          <input mdInput pattern=".{3,}" placeholder="First name" type="text" class="form-control" required #name="ngModel" ngModel name="firstname" />
        </md-input-container>
        <div>Please specify your first name.</div>
      </div>
      <div>
        <md-input-container>
          <input mdInput pattern=".{3,}" placeholder="Last name" type="text" class="form-control" required #name="ngModel" ngModel name="lastname" />
        </md-input-container>
        <div>Please specify your last name.</div>
      </div>
      <div>
        <md-input-container>
          <input mdInput pattern=".{3,}" placeholder="Username" type="text" class="form-control" required #name="ngModel" ngModel name="login" />
        </md-input-container>
        <div>Please specify your login, at least three characters.</div>
      </div>
      <div>
        <md-input-container>
          <input mdInput placeholder="Password" pattern=".{3,}" placeholder="Password" type="password" id="password" required name="password" ngModel #password="ngModel" />
        </md-input-container>
          <div>Please specify your login, at least three characters.</div>
      </div>
      <div>
        <md-input-container>
          <input mdInput placeholder="Password" pattern=".{3,}" validateEqual="password" placeholder="Password" type="password" required #name="ngModel" name="passwordConfirm" ngModel />
        </md-input-container>
        <div>Please confirm your password.</div>
      </div>
      <button md-raised-button color="accent">Register</button>
    </form>
  </md-card-content>
</md-card>

<a color="accent" (click)="goToLogin()">Login</a>
