<md-card>
    <md-card-title>New Payment</md-card-title>
    <md-card-content>
        <md-input-container>
            <input mdInput placeholder="From" type="text"/>
        </md-input-container>

        <md-input-container>
            <input mdInput placeholder="To" type="text"/>
        </md-input-container>

        <md-input-container>
            <input mdInput placeholder="Amount (CHF)" type="number" min="0.05" step="any"/>
        </md-input-container>

        <button md-raised-button color="accent" (click)="onHandlePayment()">Pay</button>
        {{paymentStatus}}
    </md-card-content>
</md-card>


